[submodule "conduit-frontend-practice"]
	path = conduit-frontend-practice
	url = https://github.com/vbortnyk/conduit-frontend-practice
[submodule "conduit-backend-practice"]
	path = conduit-backend-practice
	url = https://github.com/vbortnyk/contuid-backend-practice
